* {
    box-sizing: border-box;
}

h1 {
    color: rgb(173, 86, 23);
    background-color: rgb(168, 214, 226);
    text-align: center;
}

.FirstText {
    color: rgb(155, 35, 101);
    font-weight: bolder;
    font-style: italic;
    font-family: 'Xanh Mono', monospace;
    background-color: lightskyblue;
}

p {
    background-color: rgb(209, 223, 15);
    text-align: center;
}

.SecondText {
    font-style: oblique 66deg;
    border: 3px dashed rgb(55, 168, 168);
    padding: 40px;
    background-color: lightpink;
}

a {
    background-color: khaki;
}

.Gallery {
    background-color: rgb(170, 160, 214);
    padding: 15px;
    /* width: 50%; */
}

div.Gallery img {
    border: 2px dotted crimson;
    margin-left: 25px;
    padding: 5px;
    background-color: honeydew;
    box-shadow: lavenderblush 5px 5px 20px;
    display: inline-flex;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 250px;
}

.box {
    width: 30%;
    height: 200px;
    /* galioja tik su textu ir inline objektais */
    text-align: center;
    /* background-color: rgb(127, 218, 214); */
}

.box img {
    border-radius: 50%;
    width: 60%;
}

.box p {
    background-color: transparent;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header img {
    width: 100%;
}

header h2 {
    position: absolute;
    margin: none;
    top: 50%;
    left: 50%;
    /*atimama po puse elemento plocio, kad gautusi per viduri*/
    transform: translate(-50%, -50%);
}

.header-Vol-2 {
    background-color: goldenrod;
    background-image: url('http://picsum.photos/1920/400/');
    background-size: cover;
    background-position: center center;
    margin-top: 280px;
}

.header-Vol-2 h2 {
    text-align: center;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
}